body{
 margin:0;
 background:#111;
 color:white;
 font-family:sans-serif;
}

#app{
 max-width:500px;
 margin:auto;
}

#levelLabel{
 text-align:center;
 padding:12px;
 font-size:22px;
}

#board{
 width:100%;
 aspect-ratio:1;
 position:relative;
 background:#222;
}

.tile{
 position:absolute;
 border-radius:8px;
 transition:transform .25s;
}

.blur{
 filter:blur(6px);
}
