body{
    margin:0;
    background:#0f0f0f;
    color:white;
    font-family:sans-serif;
    display:flex;
    justify-content:center;
}

#app{
    width:100%;
    max-width:500px;
}

.top{
    padding:12px;
    text-align:center;
    font-size:20px;
}

#board{
    width:100vw;
    max-width:500px;
    aspect-ratio:1;
    margin:auto;
    position:relative;
}

.tile{
    position:absolute;
    background-size:100% 100%;
    border-radius:6px;
    transition:transform 0.25s;
}

.blur{
    filter:blur(8px);
}
